openapi: "3.1.0"
info:
  title: "sdkman_state API"
  description: "sdkman_state API"
  version: "1.0.0"
servers:
  - url: "https://state.sdkman.io"
  - url: "http://localhost:8080"
paths:
  /meta/health:
    get:
      description: ""
      responses:
        "503":
          description: "Service Unavailable"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HealthCheckResponse"
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HealthCheckResponse"
  /versions:
    delete:
      description: ""
      security:
        - bearerAuth: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UniqueVersion"
        required: true
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                Example#1:
                  description: ""
                  value:
                    error: "Validation failed"
                    message: "null"
        "204":
          description: "No Content"
          content:
            '*/*':
              schema:
                type: "object"
        "401":
          description: "Unauthorized - Missing or invalid token"
        "403":
          description: "Forbidden - Vendor not authorized for this candidate"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
        "409":
          description: "Conflict - Version has active tags that must be removed or reassigned before deletion"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/TagConflictResponse"
              examples:
                Example#1:
                  description: "Version has active tags"
                  value:
                    error: "Conflict"
                    message: "Cannot delete version with active tags. Remove or reassign the following tags first."
                    tags:
                      - "latest"
                      - "27"
                      - "27.0"
    post:
      description: ""
      security:
        - bearerAuth: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/Version"
        required: true
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                Example#1:
                  description: ""
                  value:
                    error: "Validation failed"
                    message: "null"
        "204":
          description: "No Content"
          content:
            '*/*':
              schema:
                type: "object"
        "401":
          description: "Unauthorized - Missing or invalid token"
        "403":
          description: "Forbidden - Vendor not authorized for this candidate"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                Example#1:
                  description: ""
                  value:
                    error: "Database error"
                    message: "null"
  /versions/tags:
    delete:
      description: "Remove a tag by its unique scope (candidate, tag, distribution, platform)"
      security:
        - bearerAuth: []
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/UniqueTag"
            examples:
              with_distribution:
                summary: "Delete a tag with distribution"
                value:
                  candidate: "java"
                  tag: "latest"
                  distribution: "TEMURIN"
                  platform: "LINUX_X64"
              without_distribution:
                summary: "Delete a tag without distribution"
                value:
                  candidate: "gradle"
                  tag: "latest"
                  platform: "UNIVERSAL"
        required: true
      responses:
        "204":
          description: "No Content - Tag successfully removed"
        "400":
          description: "Bad Request - Validation errors or malformed JSON"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
              examples:
                validation_error:
                  summary: "Accumulated validation failures"
                  value:
                    error: "Validation Error"
                    failures:
                      - field: "candidate"
                        message: "Candidate must not be blank"
                      - field: "tag"
                        message: "Tag must not be blank"
        "401":
          description: "Unauthorized - Missing or invalid authentication"
        "403":
          description: "Forbidden - Vendor not authorized for this candidate"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Not Found - Tag does not exist for the given scope"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not_found:
                  summary: "Tag not found"
                  value:
                    error: "Not Found"
                    message: "Tag 'nonexistent' not found"
  /admin/login:
    post:
      description: "Authenticate and obtain a JWT token"
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          description: "OK - Authentication successful"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: "Unauthorized - Invalid credentials"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Too Many Requests - Rate limit exceeded"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: "Internal Server Error - Token creation failed"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/vendors:
    get:
      description: "List all vendors"
      security:
        - bearerAuth: []
      parameters:
        - name: "include_deleted"
          in: "query"
          required: false
          schema:
            type: "boolean"
            default: false
          description: "Include soft-deleted vendors in the response"
      responses:
        "200":
          description: "OK"
          content:
            'application/json':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/VendorResponse"
        "401":
          description: "Unauthorized - Missing, invalid, or non-admin token"
    post:
      description: "Create or update a vendor"
      security:
        - bearerAuth: []
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/CreateVendorRequest"
        required: true
      responses:
        "201":
          description: "Created - New vendor created"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/VendorWithPasswordResponse"
        "200":
          description: "OK - Existing vendor updated or resurrected"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/VendorWithPasswordResponse"
        "400":
          description: "Bad Request - Validation errors"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalid_email:
                  summary: "Invalid email format"
                  value:
                    error: "Bad Request"
                    message: "Invalid email format"
                empty_candidates:
                  summary: "Empty candidates list"
                  value:
                    error: "Bad Request"
                    message: "Candidates list cannot be empty"
                admin_email:
                  summary: "Admin email collision"
                  value:
                    error: "Bad Request"
                    message: "Cannot use admin email"
        "401":
          description: "Unauthorized - Missing, invalid, or non-admin token"
  /admin/vendors/{id}:
    delete:
      description: "Soft delete a vendor"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: "OK - Vendor soft deleted"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/VendorResponse"
        "401":
          description: "Unauthorized - Missing, invalid, or non-admin token"
        "404":
          description: "Not Found - Vendor not found or already deleted"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /versions/{candidate}:
    get:
      description: ""
      parameters:
        - name: "candidate"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "platform"
          in: "query"
          required: false
          schema:
            type: "string"
        - name: "distribution"
          in: "query"
          required: false
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Version"
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                type: "object"
  /versions/{candidate}/{version}:
    get:
      description: ""
      parameters:
        - name: "candidate"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "version"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "platform"
          in: "query"
          required: false
          schema:
            type: "string"
        - name: "distribution"
          in: "query"
          required: false
          schema:
            type: "string"
      responses:
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Version"
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                type: "object"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    HealthCheckResponse:
      type: "object"
      properties:
        status:
          type: "string"
          enum:
            - "SUCCESS"
            - "FAILURE"
        message:
          type: "string"
          nullable: true
      required:
        - "status"
    UniqueVersion:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
      required:
        - "candidate"
        - "version"
        - "distribution"
        - "platform"
    UniqueTag:
      type: "object"
      properties:
        candidate:
          type: "string"
        tag:
          type: "string"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
      required:
        - "candidate"
        - "tag"
        - "platform"
    ValidationErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
        failures:
          type: "array"
          items:
            $ref: "#/components/schemas/ValidationFailure"
      required:
        - "error"
        - "failures"
    ValidationFailure:
      type: "object"
      properties:
        field:
          type: "string"
        message:
          type: "string"
      required:
        - "field"
        - "message"
    ErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
        message:
          type: "string"
      required:
        - "error"
        - "message"
    TagConflictResponse:
      type: "object"
      properties:
        error:
          type: "string"
        message:
          type: "string"
        tags:
          type: "array"
          items:
            type: "string"
      required:
        - "error"
        - "message"
        - "tags"
    LoginRequest:
      type: "object"
      properties:
        email:
          type: "string"
        password:
          type: "string"
      required:
        - "email"
        - "password"
    LoginResponse:
      type: "object"
      properties:
        token:
          type: "string"
      required:
        - "token"
    CreateVendorRequest:
      type: "object"
      properties:
        email:
          type: "string"
        candidates:
          type: "array"
          items:
            type: "string"
          description: "List of candidate identifiers the vendor is authorized to manage. Omit to preserve existing candidates on update."
      required:
        - "email"
    VendorResponse:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        email:
          type: "string"
        candidates:
          type: "array"
          items:
            type: "string"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        deleted_at:
          type: "string"
          format: "date-time"
          nullable: true
      required:
        - "id"
        - "email"
        - "candidates"
        - "created_at"
        - "updated_at"
    VendorWithPasswordResponse:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        email:
          type: "string"
        password:
          type: "string"
          description: "Generated plaintext password, shown only on create/update"
        candidates:
          type: "array"
          items:
            type: "string"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "email"
        - "password"
        - "candidates"
        - "created_at"
        - "updated_at"
    Version:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
        url:
          type: "string"
        visible:
          type: "boolean"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        md5sum:
          type: "string"
        sha256sum:
          type: "string"
        sha512sum:
          type: "string"
        tags:
          type: "array"
          items:
            type: "string"
            pattern: "^[a-zA-Z0-9]([a-zA-Z0-9._-]{0,48}[a-zA-Z0-9])?$"
            maxLength: 50
          example:
            - "latest"
            - "27"
            - "27.0"
            - "lts"
          description: "Version tags (e.g. latest, 27, 27.1). Tags must start and end with alphanumeric characters and may contain dots, hyphens, and underscores. On POST: absent preserves existing tags, empty array clears all tags, non-empty array replaces all tags. Tags are mutually exclusive within (candidate, distribution, platform) scope. Always present in GET responses as an array (empty if no tags)."
      required:
        - "candidate"
        - "version"
        - "platform"
        - "url"
        - "visible"
        - "distribution"
        - "md5sum"
        - "sha256sum"
        - "sha512sum"