openapi: "3.1.0"
info:
  title: "sdkman_state API"
  description: "sdkman_state API"
  version: "1.0.0"
servers:
  - url: "https://state.sdkman.io"
  - url: "http://localhost:8080"
paths:
  /meta/health:
    get:
      description: ""
      responses:
        "503":
          description: "Service Unavailable"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HealthCheckResponse"
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HealthCheckResponse"
  /versions:
    delete:
      description: ""
      security:
        - bearerAuth: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UniqueVersion"
        required: true
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                Example#1:
                  description: ""
                  value:
                    error: "Validation failed"
                    message: "null"
        "204":
          description: "No Content"
          content:
            '*/*':
              schema:
                type: "object"
        "401":
          description: "Unauthorized - Missing or invalid token"
        "403":
          description: "Forbidden - Vendor not authorized for this candidate"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
        "409":
          description: "Conflict - Version has active tags that must be removed or reassigned before deletion"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/TagConflictResponse"
              examples:
                Example#1:
                  description: "Version has active tags"
                  value:
                    error: "Conflict"
                    message: "Cannot delete version with active tags. Remove or reassign the following tags first."
                    tags:
                      - "latest"
                      - "27"
                      - "27.0"
    post:
      description: "Create or update a version. For candidates opted in to semverish validation (currently: java), the version string must conform to the format M.N.P[-variant][+build-metadata]."
      security:
        - bearerAuth: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/Version"
        required: true
      responses:
        "400":
          description: "Bad Request - Validation failed. For opted-in candidates, this includes semverish format violations on the version field."
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
              examples:
                validation_error:
                  summary: "Standard validation failure"
                  value:
                    error: "Validation failed"
                    failures:
                      - field: "url"
                        message: "URL 'http://example.com' must be a valid HTTPS URL"
                semverish_error:
                  summary: "Semverish format violation for opted-in candidate"
                  value:
                    error: "Validation failed"
                    failures:
                      - field: "version"
                        message: "Version '25.0.2.fx' does not conform to the semverish format: M.N.P[-variant][+build-metadata]"
        "204":
          description: "No Content"
          content:
            '*/*':
              schema:
                type: "object"
        "401":
          description: "Unauthorized - Missing or invalid token"
        "403":
          description: "Forbidden - Vendor not authorized for this candidate"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: "Internal Server Error"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                Example#1:
                  description: ""
                  value:
                    error: "Database error"
                    message: "null"
  /versions/tags:
    delete:
      description: "Remove a tag by its unique scope (candidate, tag, distribution, platform)"
      security:
        - bearerAuth: []
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/UniqueTag"
            examples:
              with_distribution:
                summary: "Delete a tag with distribution"
                value:
                  candidate: "java"
                  tag: "latest"
                  distribution: "TEMURIN"
                  platform: "LINUX_X64"
              without_distribution:
                summary: "Delete a tag without distribution"
                value:
                  candidate: "gradle"
                  tag: "latest"
                  platform: "UNIVERSAL"
        required: true
      responses:
        "204":
          description: "No Content - Tag successfully removed"
        "400":
          description: "Bad Request - Validation errors or malformed JSON"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
              examples:
                validation_error:
                  summary: "Accumulated validation failures"
                  value:
                    error: "Validation Error"
                    failures:
                      - field: "candidate"
                        message: "Candidate must not be blank"
                      - field: "tag"
                        message: "Tag must not be blank"
        "401":
          description: "Unauthorized - Missing or invalid authentication"
        "403":
          description: "Forbidden - Vendor not authorized for this candidate"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Not Found - Tag does not exist for the given scope"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not_found:
                  summary: "Tag not found"
                  value:
                    error: "Not Found"
                    message: "Tag 'nonexistent' not found"
    post:
      description: "Assign a single tag to an existing version (append, not replace). The tag is added to the target version's existing tag set; a tag held by another version in the same (candidate, distribution, platform) scope is moved; re-assigning a tag the version already holds is an idempotent no-op. Never creates a version. No semverish validation is applied to the version field."
      security:
        - bearerAuth: []
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/TagAssignment"
            examples:
              with_distribution:
                summary: "Assign a tag with distribution"
                value:
                  candidate: "java"
                  version: "27.0.2"
                  distribution: "TEMURIN"
                  platform: "LINUX_X64"
                  tag: "latest"
              without_distribution:
                summary: "Assign a tag without distribution"
                value:
                  candidate: "gradle"
                  version: "8.12"
                  platform: "UNIVERSAL"
                  tag: "latest"
        required: true
      responses:
        "204":
          description: "No Content - Tag assigned, moved, or already present (no-op)"
        "400":
          description: "Bad Request - Validation errors or malformed JSON"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
              examples:
                validation_error:
                  summary: "Accumulated validation failures"
                  value:
                    error: "Validation Error"
                    failures:
                      - field: "candidate"
                        message: "Candidate must not be blank"
                      - field: "version"
                        message: "Version must not be blank"
                      - field: "tag"
                        message: "Tag must match the pattern ^[a-zA-Z0-9]([a-zA-Z0-9._-]{0,48}[a-zA-Z0-9])?$"
        "401":
          description: "Unauthorized - Missing or invalid authentication"
        "403":
          description: "Forbidden - Vendor not authorized for this candidate"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Not Found - Target version does not exist for the given coordinates"
        "500":
          description: "Internal Server Error - Database error"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                database_error:
                  summary: "Database error"
                  value:
                    error: "Database error"
                    message: "null"
  /login:
    post:
      description: "Authenticate and obtain a JWT token"
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          description: "OK - Authentication successful"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: "Unauthorized - Invalid credentials"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: "Too Many Requests - Rate limit exceeded"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: "Internal Server Error - Token creation failed"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /admin/vendors:
    get:
      description: "List all vendors"
      security:
        - bearerAuth: []
      parameters:
        - name: "include_deleted"
          in: "query"
          required: false
          schema:
            type: "boolean"
            default: false
          description: "Include soft-deleted vendors in the response"
      responses:
        "200":
          description: "OK"
          content:
            'application/json':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/VendorResponse"
        "401":
          description: "Unauthorized - Missing, invalid, or non-admin token"
    post:
      description: "Create or update a vendor"
      security:
        - bearerAuth: []
      requestBody:
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/CreateVendorRequest"
        required: true
      responses:
        "201":
          description: "Created - New vendor created"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/VendorWithPasswordResponse"
        "200":
          description: "OK - Existing vendor updated or resurrected"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/VendorWithPasswordResponse"
        "400":
          description: "Bad Request - Validation errors"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalid_email:
                  summary: "Invalid email format"
                  value:
                    error: "Bad Request"
                    message: "Invalid email format"
                empty_candidates:
                  summary: "Empty candidates list"
                  value:
                    error: "Bad Request"
                    message: "Candidates list cannot be empty"
                admin_email:
                  summary: "Admin email collision"
                  value:
                    error: "Bad Request"
                    message: "Cannot use admin email"
        "401":
          description: "Unauthorized - Missing, invalid, or non-admin token"
  /admin/vendors/{id}:
    delete:
      description: "Soft delete a vendor"
      security:
        - bearerAuth: []
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
            format: "uuid"
      responses:
        "200":
          description: "OK - Vendor soft deleted"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/VendorResponse"
        "401":
          description: "Unauthorized - Missing, invalid, or non-admin token"
        "404":
          description: "Not Found - Vendor not found or already deleted"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /versions/{candidate}:
    get:
      description: "List versions for a candidate, optionally filtered by platform, distribution, and visibility."
      parameters:
        - name: "candidate"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "platform"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "LINUX_X32"
              - "LINUX_X64"
              - "LINUX_ARM32HF"
              - "LINUX_ARM32SF"
              - "LINUX_ARM64"
              - "MAC_X64"
              - "MAC_ARM64"
              - "WINDOWS_X64"
              - "UNIVERSAL"
          description: "Canonical platform enum value. Absent means no platform filter (all platforms)."
        - name: "distribution"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "BISHENG"
              - "CORRETTO"
              - "GRAALCE"
              - "GRAALVM"
              - "JETBRAINS"
              - "KONA"
              - "LIBERICA"
              - "LIBERICA_NIK"
              - "MANDREL"
              - "MICROSOFT"
              - "OPENJDK"
              - "ORACLE"
              - "SAP_MACHINE"
              - "SEMERU"
              - "TEMURIN"
              - "ZULU"
          description: "Canonical distribution enum value. Absent means no distribution filter."
        - name: "visible"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "true"
              - "false"
              - "all"
            default: "true"
          description: "Visibility filter. 'true' returns visible versions only (default), 'false' returns hidden versions only, 'all' applies no visibility filter."
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Version"
        "400":
          description: "Bad Request - Invalid query parameter value, or missing/blank candidate path parameter"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /versions/{candidate}/tags/{tag}:
    get:
      description: "Resolve a tag to the single version it points to within the given candidate, distribution, and platform scope"
      parameters:
        - name: "candidate"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "The candidate name (e.g. java, scala)"
        - name: "tag"
          in: "path"
          required: true
          schema:
            type: "string"
          description: "The tag to resolve (e.g. lts, latest)"
        - name: "platform"
          in: "query"
          required: true
          schema:
            type: "string"
            enum:
              - "LINUX_X32"
              - "LINUX_X64"
              - "LINUX_ARM32HF"
              - "LINUX_ARM32SF"
              - "LINUX_ARM64"
              - "MAC_X64"
              - "MAC_ARM64"
              - "WINDOWS_X64"
              - "UNIVERSAL"
          description: "Canonical platform enum value. Required — UNIVERSAL must be requested explicitly."
        - name: "distribution"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "BISHENG"
              - "CORRETTO"
              - "GRAALCE"
              - "GRAALVM"
              - "JETBRAINS"
              - "KONA"
              - "LIBERICA"
              - "LIBERICA_NIK"
              - "MANDREL"
              - "MICROSOFT"
              - "OPENJDK"
              - "ORACLE"
              - "SAP_MACHINE"
              - "SEMERU"
              - "TEMURIN"
              - "ZULU"
          description: "Canonical distribution enum value. Absent resolves the version tagged for the candidate with no distribution."
      responses:
        "200":
          description: "OK - Tag resolved successfully"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Version"
        "400":
          description: "Bad Request - Missing or invalid required parameter (platform), invalid distribution, or missing/blank candidate or tag"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: "Not Found - No version carries this tag in the given scope"
          content:
            '*/*':
              schema:
                type: "object"
  /versions/{candidate}/{version}:
    get:
      description: "Fetch a single version uniquely identified by candidate, version, platform, and optional distribution."
      parameters:
        - name: "candidate"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "version"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "platform"
          in: "query"
          required: true
          schema:
            type: "string"
            enum:
              - "LINUX_X32"
              - "LINUX_X64"
              - "LINUX_ARM32HF"
              - "LINUX_ARM32SF"
              - "LINUX_ARM64"
              - "MAC_X64"
              - "MAC_ARM64"
              - "WINDOWS_X64"
              - "UNIVERSAL"
          description: "Canonical platform enum value. Required — UNIVERSAL must be requested explicitly."
        - name: "distribution"
          in: "query"
          required: false
          schema:
            type: "string"
            enum:
              - "BISHENG"
              - "CORRETTO"
              - "GRAALCE"
              - "GRAALVM"
              - "JETBRAINS"
              - "KONA"
              - "LIBERICA"
              - "LIBERICA_NIK"
              - "MANDREL"
              - "MICROSOFT"
              - "OPENJDK"
              - "ORACLE"
              - "SAP_MACHINE"
              - "SEMERU"
              - "TEMURIN"
              - "ZULU"
          description: "Canonical distribution enum value. Absent applies no distribution filter."
      responses:
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Version"
        "400":
          description: "Bad Request - Missing or invalid required parameter (platform), invalid distribution, or missing/blank candidate or version"
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    HealthCheckResponse:
      type: "object"
      properties:
        status:
          type: "string"
          enum:
            - "SUCCESS"
            - "FAILURE"
        message:
          type: "string"
          nullable: true
      required:
        - "status"
    UniqueVersion:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
      required:
        - "candidate"
        - "version"
        - "platform"
    UniqueTag:
      type: "object"
      properties:
        candidate:
          type: "string"
        tag:
          type: "string"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
      required:
        - "candidate"
        - "tag"
        - "platform"
    TagAssignment:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
        tag:
          type: "string"
      required:
        - "candidate"
        - "version"
        - "platform"
        - "tag"
    ValidationErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
        failures:
          type: "array"
          items:
            $ref: "#/components/schemas/ValidationFailure"
      required:
        - "error"
        - "failures"
    ValidationFailure:
      type: "object"
      properties:
        field:
          type: "string"
        message:
          type: "string"
      required:
        - "field"
        - "message"
    ErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
        message:
          type: "string"
      required:
        - "error"
        - "message"
    TagConflictResponse:
      type: "object"
      properties:
        error:
          type: "string"
        message:
          type: "string"
        tags:
          type: "array"
          items:
            type: "string"
      required:
        - "error"
        - "message"
        - "tags"
    LoginRequest:
      type: "object"
      properties:
        email:
          type: "string"
        password:
          type: "string"
      required:
        - "email"
        - "password"
    LoginResponse:
      type: "object"
      properties:
        token:
          type: "string"
      required:
        - "token"
    CreateVendorRequest:
      type: "object"
      properties:
        email:
          type: "string"
        candidates:
          type: "array"
          items:
            type: "string"
          description: "List of candidate identifiers the vendor is authorized to manage. Omit to preserve existing candidates on update."
      required:
        - "email"
    VendorResponse:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        email:
          type: "string"
        candidates:
          type: "array"
          items:
            type: "string"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
        deleted_at:
          type: "string"
          format: "date-time"
          nullable: true
      required:
        - "id"
        - "email"
        - "candidates"
        - "created_at"
        - "updated_at"
    VendorWithPasswordResponse:
      type: "object"
      properties:
        id:
          type: "string"
          format: "uuid"
        email:
          type: "string"
        password:
          type: "string"
          description: "Generated plaintext password, shown only on create/update"
        candidates:
          type: "array"
          items:
            type: "string"
        created_at:
          type: "string"
          format: "date-time"
        updated_at:
          type: "string"
          format: "date-time"
      required:
        - "id"
        - "email"
        - "password"
        - "candidates"
        - "created_at"
        - "updated_at"
    Version:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
          description: "Version identifier. For candidates opted in to semverish validation, must conform to M.N.P[-variant][+build-metadata] where M, N, P are non-negative integers without leading zeros, variant is dash-separated dot-delimited identifiers [a-zA-Z0-9-]+, and build metadata is plus-separated dot-delimited identifiers [a-zA-Z0-9-]+."
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
        url:
          type: "string"
        visible:
          type: "boolean"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        md5sum:
          type: "string"
        sha256sum:
          type: "string"
        sha512sum:
          type: "string"
        tags:
          type: "array"
          items:
            type: "string"
            pattern: "^[a-zA-Z0-9]([a-zA-Z0-9._-]{0,48}[a-zA-Z0-9])?$"
            maxLength: 50
          example:
            - "latest"
            - "27"
            - "27.0"
            - "lts"
          description: "Version tags (e.g. latest, 27, 27.1). Tags must start and end with alphanumeric characters and may contain dots, hyphens, and underscores. On POST: absent preserves existing tags, empty array clears all tags, non-empty array replaces all tags. Tags are mutually exclusive within (candidate, distribution, platform) scope. Always present in GET responses as an array (empty if no tags)."
      required:
        - "candidate"
        - "version"
        - "platform"
        - "url"
        - "visible"