openapi: "3.1.0"
info:
  title: "State API"
  description: "The SDKMAN! State API"
  version: "1.0.0"
servers:
- url: "https://state.sdkman.io"
paths:
  /versions:
    delete:
      description: ""
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UniqueVersion"
        required: true
      responses:
        "204":
          description: "No Content"
          content:
            '*/*':
              schema:
                type: "object"
    post:
      description: ""
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/Version"
        required: true
      responses:
        "204":
          description: "No Content"
          content:
            '*/*':
              schema:
                type: "object"
  /versions/{candidate}:
    get:
      description: ""
      parameters:
      - name: "candidate"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "platform"
        in: "query"
        required: false
        schema:
          type: "string"
      - name: "vendor"
        in: "query"
        required: false
        schema:
          type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Version"
  /versions/{candidate}/{version}:
    get:
      description: ""
      parameters:
      - name: "candidate"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "version"
        in: "path"
        required: true
        schema:
          type: "string"
      - name: "platform"
        in: "query"
        required: false
        schema:
          type: "string"
      - name: "vendor"
        in: "query"
        required: false
        schema:
          type: "string"
      responses:
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Version"
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                type: "object"
components:
  schemas:
    UniqueVersion:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
        vendor:
          type: "string"
        platform:
          type: "string"
          enum:
          - "LINUX_X32"
          - "LINUX_X64"
          - "LINUX_ARM32HF"
          - "LINUX_ARM32SF"
          - "LINUX_ARM64"
          - "MAC_X64"
          - "MAC_ARM64"
          - "WINDOWS_X64"
          - "UNIVERSAL"
      required:
      - "candidate"
      - "version"
      - "vendor"
      - "platform"
    Version:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
        vendor:
          type: "string"
        platform:
          type: "string"
          enum:
          - "LINUX_X32"
          - "LINUX_X64"
          - "LINUX_ARM32HF"
          - "LINUX_ARM32SF"
          - "LINUX_ARM64"
          - "MAC_X64"
          - "MAC_ARM64"
          - "WINDOWS_X64"
          - "UNIVERSAL"
        url:
          type: "string"
        visible:
          type: "boolean"
        md5sum:
          type: "string"
        sha256sum:
          type: "string"
        sha512sum:
          type: "string"
      required:
      - "candidate"
      - "version"
      - "vendor"
      - "platform"
      - "url"
      - "visible"
      - "md5sum"
      - "sha256sum"
      - "sha512sum"