openapi: "3.1.0"
info:
  title: "sdkman_state API"
  description: "sdkman_state API"
  version: "1.0.0"
servers:
  - url: "https://state.sdkman.io"
  - url: "http://localhost:8080"
paths:
  /meta/health:
    get:
      description: ""
      responses:
        "503":
          description: "Service Unavailable"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HealthCheckResponse"
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HealthCheckResponse"
  /versions:
    delete:
      description: ""
      security:
        - basicAuth: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/UniqueVersion"
        required: true
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                Example#1:
                  description: ""
                  value:
                    error: "Validation failed"
                    message: "null"
        "204":
          description: "No Content"
          content:
            '*/*':
              schema:
                type: "object"
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
    post:
      description: ""
      security:
        - basicAuth: []
      requestBody:
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/Version"
        required: true
      responses:
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                Example#1:
                  description: ""
                  value:
                    error: "Validation failed"
                    message: "null"
        "204":
          description: "No Content"
          content:
            '*/*':
              schema:
                type: "object"
        "500":
          description: "Internal Server Error"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                Example#1:
                  description: ""
                  value:
                    error: "Database error"
                    message: "null"
  /versions/{candidate}:
    get:
      description: ""
      parameters:
        - name: "candidate"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "platform"
          in: "query"
          required: false
          schema:
            type: "string"
        - name: "distribution"
          in: "query"
          required: false
          schema:
            type: "string"
      responses:
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Version"
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                type: "object"
  /versions/{candidate}/{version}:
    get:
      description: ""
      parameters:
        - name: "candidate"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "version"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "platform"
          in: "query"
          required: false
          schema:
            type: "string"
        - name: "distribution"
          in: "query"
          required: false
          schema:
            type: "string"
      responses:
        "404":
          description: "Not Found"
          content:
            '*/*':
              schema:
                type: "object"
        "200":
          description: "OK"
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Version"
        "400":
          description: "Bad Request"
          content:
            '*/*':
              schema:
                type: "object"
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    HealthCheckResponse:
      type: "object"
      properties:
        status:
          type: "string"
          enum:
            - "SUCCESS"
            - "FAILURE"
        message:
          type: "string"
          nullable: true
      required:
        - "status"
    UniqueVersion:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "LINUX_RISCV64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
      required:
        - "candidate"
        - "version"
        - "distribution"
        - "platform"
    ErrorResponse:
      type: "object"
      properties:
        error:
          type: "string"
        message:
          type: "string"
      required:
        - "error"
        - "message"
    Version:
      type: "object"
      properties:
        candidate:
          type: "string"
        version:
          type: "string"
        platform:
          type: "string"
          enum:
            - "LINUX_X32"
            - "LINUX_X64"
            - "LINUX_ARM32HF"
            - "LINUX_ARM32SF"
            - "LINUX_ARM64"
            - "LINUX_RISCV64"
            - "MAC_X64"
            - "MAC_ARM64"
            - "WINDOWS_X64"
            - "UNIVERSAL"
        url:
          type: "string"
        visible:
          type: "boolean"
        distribution:
          type: "string"
          enum:
            - "BISHENG"
            - "CORRETTO"
            - "GRAALCE"
            - "GRAALVM"
            - "JETBRAINS"
            - "KONA"
            - "LIBERICA"
            - "LIBERICA_NIK"
            - "MANDREL"
            - "MICROSOFT"
            - "OPENJDK"
            - "ORACLE"
            - "SAP_MACHINE"
            - "SEMERU"
            - "TEMURIN"
            - "ZULU"
        md5sum:
          type: "string"
        sha256sum:
          type: "string"
        sha512sum:
          type: "string"
      required:
        - "candidate"
        - "version"
        - "platform"
        - "url"
        - "visible"
        - "distribution"
        - "md5sum"
        - "sha256sum"
        - "sha512sum"