name: Release
on:
  push:
    branches:
      - main

jobs:
  build:
    name: "Release"
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: sdkman
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_TOKEN }}
      - name: Log in to DigitalOcean Docker Registry
        run: |
          doctl registry login
      - name: Run tests
        run: |
          ./gradlew test
      - name: Build and publish Docker image locally
        run: |
          ./gradlew publishImageToLocalRegistry
      - name: Push image to DO registry
        run: |
          version=$(git rev-parse --short=8 HEAD)
          docker push registry.digitalocean.com/sdkman/sdkman-state:$version
          docker push registry.digitalocean.com/sdkman/sdkman-state:latest

